@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
body{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 180px;
  height: 100%;
  background: rgb(57, 46, 124);
  transition: all .5s ease;
  
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background:  rgb(57, 46, 124);
  user-select: none;
  
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
  text-decoration: none;
  
}
ul li:hover a{
  padding-left: 20px;
  text-decoration: none;
}
.sidebar ul a i{
  margin-right: 16px;
  
}
.list{
  list-style-type: none;
  
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 20px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
  list-style: none;
}
label #cancel{
  z-index: 1111;
  left: -170px;
  top: 17px;
  font-size: 15px;
  color: #eff4f7;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 200px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 200px;
}

.top{
  text-align: center;
  background-color: rgb(57, 46, 124);
  height: 200px;
  padding: 5px;
  color: rgb(253, 253, 253); 
  z-index: -1;
  font-family: "Lucida Console", "Courier New", monospace; 
}
.button{
  padding: 5px;
  width: 90px;
  height: 35px;
  background-color: rgb(191, 74, 250);
  color: white;
  border-radius: 5px;
  border-style: solid 3px black;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;  
}
.cont{
width: 70%;
margin-left: 20%;
}



.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
 
}

.popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 445px;
  z-index: 2;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color:rgb(57, 46, 124);
  color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.popup.active .overlay{
  display: block;
 
}

.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);

}

.sub{
  padding: 5px;
  width: 90px;
  height: 35px;
  background-color: rgb(191, 74, 250);
  color: white;
  border-radius: 5px;
  border-style: solid 3px black;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;  
}

input {
  width: 100%;
  border-radius: 4px;
  padding: 4px 20px;
  margin: 2px 0;
  box-sizing: border-box;
}

#picture{
  border-radius: 50%;
  height: 80px;
  margin-top: 35px;
}
